#!/bin/bash

ip address show lo up | grep ${ADDRESS} > /dev/null
if [ $? -eq 0 ]
then
  lsof -Pi :${PORT} -s${PROTOCOL}:LISTEN -t > /dev/null
  if [ $? -eq 0 ]
  then
    echo IP Address ${ADDRESS} is bound and Port ${PORT} is listening - No action required
  else
    echo IP Address ${ADDRESS} is bound and Port ${PORT} is not listening - Removing IP Address
    ip address del ${ADDRESS}/32 dev lo
  fi
else
  lsof -Pi :${PORT} -s${PROTOCOL}:LISTEN -t > /dev/null
  if [ $? -eq 0 ]
  then
    echo IP Address ${ADDRESS} is not bound and Port ${PORT} is listening - Adding IP Address
    ip address add ${ADDRESS}/32 dev lo
  else
    echo IP Address ${ADDRESS} is not bound and Port ${PORT} is not listening - No action required
  fi
fi