[Unit]
Description=lobalancer Service
After=network.target
AssertFileNotEmpty=/etc/sysconfig/lobalancer@%i.env

[Service]
EnvironmentFile=/etc/sysconfig/lobalancer@%i.env
ExecStart=/usr/local/bin/lobalancer
StandardOutput=journal

[Install]
WantedBy=multi-user.target